<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <h1>This page includes the orders placed By you.</h1>
            <ul>
                <li>This is a list item.</li>
                <li>This is a list item 2.</li>
                <li>This is a list item 3.</li>

            <p>And for even more items that are added by you!!!......Here's to the endless list of items</p>
            </ul>
        </main>
        <%- include('../includes/end.ejs') %>   